* {
  box-sizing: border-box;
  font-family: 'Helvetica';
}

.hidden {
  display: none;
}

.checked {
  color: gold;
}

h1 {
  text-align: center;
}

div.js-user-settings {
  width: 500px;
  padding: 0;
  margin: auto;
  margin-bottom: 10px;
}

div.js-input-form {
  width: 500px;
  padding: 0;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

div.container {
  width: 500px;
  padding: 0;
  margin: auto;
  margin-bottom: 10px;
}

label.js-title-input {
  margin-left: 5px;
}

input.js-title-input {
  width: 443px;
  margin: 5px;
}

label.js-url-input {
  margin-left: 5px;
}

input.js-url-input {
  width: 441px;
  margin: 5px;
}

label.js-description-input {
  margin-left: 5px;
}

textarea.js-description-input {
  width: 487px;
  height: 100px;
  margin: 5px;
}

label.js-ratings-input {
  margin-left: 5px;
}

ul.js-bookmarks-list {
  padding: 0;
}

button.js-toggle-input-button {
  float: right;
  margin-right: 5px;
}

button.js-save-button {
  float: right;
  margin-right: 5px;
}

button.js-cancel-button {
  float: right;
  margin-right: 5px;
}

button.js-remove-button {
  float: right;
  margin-right: 5px;
}

button.js-collapse-button {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

li.js-bookmark-entry {
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

li.Filtered {
  display: none;
}

.js-bookmark-entry>h3 {
  padding: 5px;
  margin: auto;
  background-color: lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.js-bookmark-entry>a {
  margin: auto;
  padding: 5px;
}

.js-bookmark-entry>p {
  padding: 5px;
  margin: auto;
}